<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/home/login.js" defer></script> <!-- 동기 방식인 defer 사용 <-> async -->
    <title>수강신청</title>
</head>
<body>
    <h1>수강신청</h1>
        <input type="text" placeholder="ID" id="id">
        <input type="text" placeholder="PW" id="pw"><br>
        <button>확인</button>                
</body>
</html>